[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
Obj/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/
Recordings/
.vscode/
.plastic/
videos/
__pycache__/
*.pyc
*.csproj
*.sln
*.slnx
*.user
*.tmp
*.booproj
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
